---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
  <body>
    <h1>Mi sitio Astro</h1>
    <h2>Programador backend</h2>

    <p></p>Estoy trabajando en un nuevo pofolio</p></Estoy>
  </body>
</html>